
{% block content %}
	  <form>{% csrf_token %}
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" >&times;</button>
	<h4>Añadir Usuario</h4>
</div>
<div class="modal-body">
	<div class="row">

		<div class="col-md-6">
			<div class="box box-info">
				<div class="box-header">
	                <h3 class="box-title">Datos generales de la cuenta</h3>
	            </div>
				
				<div class="box-body">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
						<input id="id_username" maxlength="30" name="username" type="text" class="form-control username1" placeholder="Username">
	                </div><br>
	                <div class="input-group">
						<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
						<input id="id_email" name="email" type="email" class="form-control" placeholder="Correo Electronico">
	                </div><br>
	                 <div class="input-group">
						<span class="input-group-addon"><i class="fa fa-lock"></i></span>
						<input id="id_password1" name="password1" type="password" class="form-control" placeholder="Password">
	                </div><br>
	                <div class="input-group">
						<span class="input-group-addon"><i class="fa fa-lock"></i></span>
						<input id="id_password2" name="password2" type="password" class="form-control" placeholder="Confirm Password">
	                </div><br>
	                <div class="input-group">
						<span class="input-group-addon"><i class="fa  fa-caret-square-o-right"></i></span>
						<input id="id_first_name" maxlength="30" name="first_name" type="text" class="form-control" placeholder="Nombre(s)">
	                </div><br>
	                <div class="input-group">
						<span class="input-group-addon"><i class="fa  fa-caret-square-o-right"></i></span>
						<input id="id_last_name" maxlength="30" name="last_name" type="text" class="form-control" placeholder="Apellido(s)">
	                </div></br>
	                <div class="row">
		                <div class="col-lg-6">
			                <div class="input-group">
			                    <span class="input-group-addon"><input checked="checked" id="id_is_active" name="is_active" type="checkbox"></span>
			                	<input type="text" class="form-control" disabled placeholder="Activo">
			                </div>
		                </div>
		                <div class="col-lg-6">
			                <div class="input-group">
			                    <span class="input-group-addon"><input id="id_is_staff" name="is_staff" type="checkbox"></span>
			                	<input type="text" class="form-control" disabled placeholder="Staff">
			                </div>
		                </div>
	                </div>
				</div>

	        </div>
		</div>

		<div class="col-md-6">
			<div class="box box-info">
				<div class="box-header">
	                <h3 class="box-title"></h3>
	            </div>
	            <div class="box-body">
					<div class="input-group" style="display:none">
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
						<input id="id_user" maxlength="50" name="user" type="text" class="form-control username2" placeholder="Username" readonly>
	                </div><br>
	            	<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-phone"></i></span>
						<input id="id_telefono" maxlength="20" name="telefono" type="text" class="form-control" data-inputmask='"mask": "(999) 99-99999999"' data-mask>
	             	</div><br>
	             	<div class="form-group">
	                	<label for="exampleInputFile">Avatar</label>
	                	<input id="id_avatar" name="avatar" type="file" id="exampleInputFile">
					</div><br>
					<div class="control-group">
				       <label class="control-label" for="select01">Seleccione el Banco</label>
				       <div class="controls">
				       {{formulario.banco}}
				       </div>
					 </div><br>
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-plus-square"></i></span>
						<input type="text" class="form-control" placeholder="Cuenta Bancaria" data-inputmask='"mask": "999999999999999999"' data-mask>
		            </div>
	            </div>
	            
	        </div>
		</div>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
	<button type="button" id="btnEnvio" class="btn btn-sm btn-success">Guardar</button>
</div>
</form>
	
{% endblock %}

{% block paso2%}
<script type="text/javascript">
	 $(function() {
                              
        $("[data-mask]").inputmask();
        $('#VentanaUsuario').on('hidden.bs.modal', function (e) {
 			$('.modal-body').html('');
		});
        
        $(".username1").focusout(function(event) {
        	$(".username2").val($(".username1").val());
        });

       
        $("#btnEnvio").click(function(event) {
       		$.ajaxSetup({
				beforeSend: function(xhr, settings) {
					if(settings.type == "POST"){
						xhr.setRequestHeader("X-CSRFToken", $('[name="csrfmiddlewaretoken"]').val());
					}
				}
			});

       		console.log($('form').serialize());

       		$$.post('/definir/nuevo/usuario/', param1: 'value1', function(data, textStatus, xhr) {
       			/*optional stuff to do after success */
       		});

        });

		function enviar_pregunta() {
			var input = $('#crear-pregunta input:visible');
			if(input.val() != ''){
			$.post('guardar-pregunta/', { pregunta: input.val() }, actualizar_preguntas);
			}
		}

	});
	 </script>
 {% endblock %}