
{% block titulo%} Editar Usuario{% endblock%}


{% block content %}
<form action="/usuarios/useredit/" method="POST">
	{% csrf_token %}

</form>
{% endblock %}

<input type="text" name="username" value="{{Usuario.username}}"> 
<input type="text" name="username" value="{{Usuario.first_name}}"> 
<input type="text" name="username" value="{{Usuario.last_name}}"> 
<input type="text" name="username" value="{{Usuario.email}}"> 
<input type="checkbox" name="is_active" checked="{{ Usuario.is_active }}">

<a href="#" id="close"type="submit" class="btn btn-danger btn-sm">
	<span class="glyphicon glyphicon-remove-circle"> Cancelar</a>
{% block scriptsec %}

<script type="text/javascript">
	$(function(){
		$('#close').on('click',function(){
	        $("#result").animate({height:'0px'}, 400);
	    });
	});
</script>
	

{% endblock %}